@import '../../styles/variables.scss';

.stat-ring {
  color: $primary;
  display: flex;
  font-size: 1.4rem;
  align-items: center;
  flex-direction: column;
  width: 91px;

  .quantity {
    font-size: 1.6rem;
    font-weight: bold;
  }

  .stat-name {
    font-weight: bold;
    text-align: center;
  }

  .ring {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 55px;
    width: 55px;
    margin-bottom: 8px;
    border-radius: 50%;
    border: solid 2px $primary;
  }
}
