@import '../../styles/variables.scss';

.workout-list {
  ul {
    list-style-type: none;
  }

  li {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 6px;
    border-bottom: 1px solid #dfdfdf;
  }

  &-numbers {
    width: 30px;
    height: 40px;
  }

  .workout-list-week {
    li {
      height: 280px;

      &:nth-child(odd) {
        background-color: $primary;
        color: $white;
      }

      &:nth-child(even) {
        background-color: #dfdfdf;
        color: $black;
      }
    }
  }
}
