.dash-details-overview {
  h2 {
    font-size: 2rem;
    margin-bottom: 6px;
  }

  small {
    font-size: 1.2rem;
  }

  .progress-text {
    margin-right: 20px;
  }

  .stat-row {
    max-width: 283px;
  }
}
