@import '../../styles/variables.scss';

.arrow {
  display: inline-block;
  height: 10px;
  width: 10px;
  position: relative;
  transition: 0.15s cubic-bezier(0.455, 0.39, 1, 1.5);

  .line-1 {
    display: inline-block;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 500px;
  }
  .line-2 {
    display: inline-block;
    height: 100%;
    width: 2px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 500px;
  }

  &.left {
    transform: rotate(-45deg);
  }
  &.right {
    transform: rotate(135deg);
  }
  &.down {
    transform: rotate(225deg);
  }
  &.up {
    transform: rotate(45deg);
  }

  &.dark div {
    background-color: $primary;
  }

  &.light div {
    background-color: $white;
  }
}
