.progress-ring {
  position: relative;
  width: 110px;
  height: 110px;

  svg {
    position: absolute;
    top: 0;
    left: 0;

    &:first-of-type {
      transform: rotate(270deg);
    }

    &:nth-of-type(2) {
      z-index: -1;
    }
  }

  h2 {
    position: absolute;
    top: 50%;
    left: 52%;
    margin: 0;
    transform: translate(-50%, -50%);
  }
}
