@import '../../styles/variables.scss';

.header {
  position: fixed;
  top: 80px;
  z-index: 999;

  .back-button {
    text-align: left;
    background: none;
    border-radius: none;
    border: none;
    min-width: 40px;
    min-height: 40px;
  }

  .row {
    color: $primary;
    background-color: $white;
    width: 100%;
    margin: 0;
    height: 46px;
    box-shadow: $box-shadow;

    h1 {
      position: absolute;
      left: 50%;
      top: 50%;
      font-size: 1.8rem;
      padding: 0 18px;
      transform: translate(-50%, -50%);
    }
  }

  .arrow {
    height: 14px;
    width: 14px;
  }
}

@media (max-width: $breakpoint-tablet) {
  .header {
    top: 46px;
  }
}
