/* Variables */
$primary: #196cff;
$danger: #bc162a;
$white: #ffffff;
$black: #121314;
$black-pure: #000000;
$inactive: #e4e4e4;

// BREAKPOINTS
$breakpoint-mobile: 425px;
$breakpoint-tablet: 768px;

$box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
